<!DOCTYPE html>
<html>

<head>

    <title>BARABIRU &nbsp|&nbsp Dashboard</title>
    <link rel="icon" href="assets/favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

    * {
        font-family: "Baloo 2";
    }

    body {
        background: #fdfdfd;
    }

    .container h1 {
        margin-top: 10vh;
        margin-bottom: 5vh;
        font-size: 48px;
        text-align: center;
    }

    #user {
        font-weight: bold;
        color: #3068e1;
    }

    </style>

</head>

<body>

    <div class="container">
        <h1>Welcome, <span id="user">Bara</span></h1>

        <div class="row">
            <div class="col-md-12">

                <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert"><%- messages.success %></div>
                <% } %>
                
                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>

                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <a href="menu/create" class="btn btn-md btn-success mb-3">Add Menu</a>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Pic</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(data.length) {
                                    for(var i = 0; i< data.length; i++) {%>  
                                        <tr>
                                            <th scope="row" class="text-center"><%= (i+1) %></th>
                                            <td><%= data[i].id%></td>
                                            <td><%= data[i].type%></td>
                                            <td><%= data[i].pic%></td>
                                            <td><%= data[i].name%></td>
                                            <td><%= data[i].price%></td>
                                            <td><%= data[i].descr%></td>
                                            <td class="text-center">
                                                <a href="/menu/edit/<%=data[i].id%>" class="btn btn-sm btn-primary">Edit</a>
                                                <a onclick="return confirm('Are You Sure?')" href="/menu/delete/<%=data[i].id%>" class="btn btn-sm btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    <% }
                                    
                                } else { %>
                                    <tr>
                                        <td colspan="6">
                                            <div class="alert alert-danger" role="alert">
                                                Menu Not Found
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>    
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</body>

</html>